* {
  margin: 0;
  padding: 0;
  border: 0;
}

h1 {
  text-align: center;
  font-size: 575%;
  color: #4A4444;
  text-transform: uppercase;
  letter-spacing: 1%;
  margin: 45% 0;
}

p {
  text-align: center;
  font-size: 275%;
  color: #E5E5E5;
  text-transform: uppercase;
  letter-spacing: 1%;
}

/* START PARALLAX /*/
.parallax {
  background: url("https://github.com/egriffin2/341-work/blob/master/HW-11/img/dorms.jpg?raw=true") repeat fixed 100%;
}

.parallax-inner {
  padding-top: 10%;
  padding-bottom: 10%;
}

.parallax2 {
  background: url("https://github.com/egriffin2/341-work/blob/master/HW-11/img/turtle.jpg?raw=true") repeat fixed 100%;
}

.parallax3 {
  background: url("https://github.com/egriffin2/341-work/blob/master/HW-11/img/volunteer.jpeg?raw=true") repeat fixed 100%;
  background-size: cover;
}
/* END PARALLAX /*/
