body {
    padding: 0;
    margin: 0;
    background-image: url("img/dininghouse.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


h1.heading {
  text-align: center;
  font-size: 7em;
}

.container {
    min-height: 50vh;
    font-size: 2em;
}

}

.description {
    margin: 50vh auto;
    padding: 1em;
    text-align: center;
    width: 75%;
    min-width: 300px;
    background-image: url("img/dorms.jpg");


}

.turtles {
    margin: 50vh auto;
    padding: 1em;
    text-align: center;
    width: 75%;
    min-width: 300px;
    background-image: url("img/turtle.jpg");

}

.volunteer {
    margin: 50vh auto;
    padding: 1em;
    text-align: center;
    width: 75%;
    min-width: 300px;
    background-image: url("img/volunteer.jpg");

}

@media only screen and (max-width: 900px) {
    .description, .turtles, .volunteer {
        background-attachment: scroll;
    }
