* {
  margin: 0;
  padding: 0;
  border: 0;
}

h1 {
  text-align: center;
  font-size: 575%;
  color: #4A4444;
  text-transform: uppercase;
  letter-spacing: 1%;
  margin: 45% 0;
}

p {
  text-align: center;
  font-size: 275%;
  color: #E5E5E5;
  text-transform: uppercase;
  letter-spacing: 1%;
}

/* START PARALLAX /*/
.parallax {
  background: url("https://upload.wikimedia.org/wikipedia/commons/3/34/Florida_Box_Turtle_Digon3.jpg") repeat fixed 100%;
}

.parallax-inner {
  padding-top: 10%;
  padding-bottom: 10%;
}
/* END PARALLAX /*/
